/* Estilos personalizados para Blog de Música */
#encabezado {
  background-color: #B5BAB6;
}

#icono-yt {
  color: #dc3545;
}

#icono-fb {
  color: indigo;
}

#icono-in {
  color: blue;
}

#icono-pi {
  color: #dc3545;
}

#icono-tw {
  color: cyan;
}

#seleccion {
  background-color: #A75D67;
}

.btn-personal {
  background-color: #A79B82 !important;
  border-color: #A79B82 !important;
}

.btn-primary:hover {
  background-color: #716A4D !important;
  border-color: #A79B82 !important;
}
