/* Estilos personalizados para Blog de Música */
#encabezado {
  background-color: #B5BAB6;
}

#icono-yt {
  color: #dc3545;
}

#icono-fb {
  color: indigo;
}

#icono-in {
  color: blue;
}

#icono-pi {
  color: #dc3545;
}

#icono-tw {
  color: cyan;
}
